@font-face {
  font-family: 'GothamPro-Black';
  src: url('GothamPro-Black.eot');
  src: url('GothamPro-Black.woff2') format('woff2'),
       url('GothamPro-Black.woff') format('woff'),
       url('GothamPro-Black.ttf') format('truetype'),
       url('GothamPro-Black.svg#GothamPro-Black') format('svg'),
       url('GothamPro-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

