@import 'fonts';

@mixin fnt-largetext22 {
    font-family: GothamPro;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
}

@mixin fnt-pagetext18 {
    font-family: GothamPro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

@mixin fnt-text16b {
    font-family: GothamPro-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

@mixin fnt-pagetext16 {
    font-family: GothamPro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

@mixin fnt-simpletext14 {
    font-family: GothamPro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

$logo: #1D4BCC;
$logoclk: #1D3BCC;
$barspacedark: #F8F8FA;
$barspace: #FAFBFC;
$baredge: #DADFE7;
$workspace: #FFFFFF;
$barhighlight: #EDF5FB;
$loss: #FF0843;
$lossclk: #df0034;
$strongtext: #505050;
$textcolor: #79797F;
$comments: #BFBFBF;
$textlight: #078CFF;
$textlightclk: #077CFF;

$headshadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
$plateshadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
$windowshadow: 0px 5px 10px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.2);

@mixin positioner($direction, $mainaxis, $subaxis, $wrapping: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $mainaxis;
    align-items: $subaxis;
    flex-wrap: $wrapping;
}

@mixin narrower($width, $padding: 0px, $margin: auto) {
    max-width: $width + 2 * $padding;
    width: 100%;
    margin-left: $margin;
    margin-right: $margin;
    padding-left: $padding;
    padding-right: $padding;
}

@mixin grid($columns, $rows: none) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@mixin gcxy($xalign, $yalign: none) {
    justify-content: $xalign;
    align-content: $yalign;
}

@mixin gcixy($xalign, $yalign: none) {
    justify-items: $xalign;
    align-items: $yalign;
}

@mixin gexy($xalign, $yalign: none) {
    justify-self: $xalign;
    align-self: $yalign;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body, html {
    min-height: 100%;
}
