@font-face {
    font-family: 'GothamPro';
    src: url('/fonts/GothamFonts/GothamPro/GothamPro.eot');
    src: url('/fonts/GothamFonts/GothamPro/GothamPro.woff2') format('woff2'),
        url('/fonts/GothamFonts/GothamPro/GothamPro.woff') format('woff'),
        url('/fonts/GothamFonts/GothamPro/GothamPro.ttf') format('truetype'),
        url('/fonts/GothamFonts/GothamPro/GothamPro.svg#GothamPro') format('svg'),
        url('/fonts/GothamFonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Bold';
    src: url('/fonts/GothamFonts/GothamPro-Bold/GothamPro-Bold.eot');
    src: url('/fonts/GothamFonts/GothamPro-Bold/GothamPro-Bold.woff2') format('woff2'),
        url('/fonts/GothamFonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
        url('/fonts/GothamFonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype'),
        url('/fonts/GothamFonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg'),
        url('/fonts/GothamFonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

