@import 'common';

.container {
  @include grid(auto 1fr auto auto, 1fr);
  @include gcxy(flex-start, center);
  gap: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  background: $barspacedark;

  .mid {
    @include gexy(center, center);
    padding-right: 5px;
  }

  .text-container {
    position: relative;
    height: 35px;
    overflow: hidden;

    .pos {
      position: absolute;
      width: 100%;
  
      .text {
        @include fnt-pagetext16;
        color: $strongtext;
        padding: 6px 11px;
        overflow: hidden;
      }
    }
  }

  .done {
    text-decoration: line-through;
  }

  .edit {
    @include gexy(center, center);
    width: 25px;
    height: 25px;
    fill: $textcolor;
    transition: 0.2s;
  }

  .edit:hover {
    fill: $logo;
  }

  .remove {
    @include gexy(center, center);
    width: 25px;
    height: 25px;
    fill: $loss;
    transition: 0.2s;
  }

  .remove:hover {
    fill: $lossclk;
  }
}
