@import 'common';

.todo {
  @include positioner(column, flex-start, stretch);
  background: $workspace;
  height: 100%;

  .functions {
    @include positioner(row, space-between, center);
    @include narrower(600px, 40px);
    margin: 100px auto 30px;

    .procedure {
      @include fnt-largetext22;
      color: $strongtext;
    }

    .icons {
      @include grid(repeat(5, auto), 1fr);
      @include gcxy(flex-start, center);
      gap: 10px;

      .save {
        @include gexy(center, center);
        width: 25px;
        height: 25px;
        fill: $comments;
        transition: 0.2s;
        cursor: pointer;
      }
      
      .save:hover {
        fill: $logo;
      }
      
      .escape {
        @include gexy(center, center);
        width: 22px;
        height: 25px;
        fill: $comments;
        transition: 0.2s;
        cursor: pointer;
      }
      
      .escape:hover {
        fill: $logo;
      }
      
      .remove {
        @include gexy(center, center);
        width: 25px;
        height: 25px;
        fill: $loss;
        transition: 0.2s;
        cursor: pointer;
      }
      
      .remove:hover {
        fill: $lossclk;
      }
      
      .cancel, .retry {
        @include gexy(center, center);
        width: 25px;
        height: 25px;
        fill: $comments;
        transition: 0.2s;
        cursor: pointer;
      }
      
      .cancel:hover, .retry:hover {
        fill: $logo;
      }
    }
  }

  .format {
    @include positioner(column, space-between, stretch);
  
    .title {
      @include fnt-pagetext18;
      @include narrower(600px, 40px);
      color: $strongtext;
      margin-bottom: 10px;
    }
    
    .narrow {
      @include narrower(600px, 40px);
      margin-bottom: 30px;
    }

    .tasks {
      @include fnt-pagetext18;
      @include narrower(600px, 40px);
      color: $strongtext;
    }

    .taskgroup {
      @include narrower(600px, 40px);
      position: relative;

      .task {
        width: 600px;
      }
    }

    .plus {
      width: 25px;
      height: 25px;
      fill: $comments;
    }

    .plus:hover {
      fill: $logo;
    }
  }
}
