@font-face {
  font-family: 'GothamPro-Light';
  src: url('GothamPro-Light.eot');
  src: url('GothamPro-Light.woff2') format('woff2'),
       url('GothamPro-Light.woff') format('woff'),
       url('GothamPro-Light.ttf') format('truetype'),
       url('GothamPro-Light.svg#GothamPro-Light') format('svg'),
       url('GothamPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

