doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/common.css')
    link(rel="shortcut icon" href="/images/favicon/itprojects.png" type="image/png")
    script(defer src='/scripts/app.js')
  body
    #app
    